@font-face {
  font-family: 'Noto Serif JP';
  src: url('@/assets/font/Noto_Serif_JP/NatoSerifJP-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Serif JP';
  src: url('@/assets/font/Noto_Serif_JP/NatoSerifJP-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: 'Noto Serif JP';
  src: url('@/assets/font/Noto_Serif_JP/NatoSerifJP-ExtraLight.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Noto Serif JP';
  src: url('@/assets/font/Noto_Serif_JP/NatoSerifJP-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Noto Serif JP';
  src: url('@/assets/font/Noto_Serif_JP/NatoSerifJP-Medium.otf') format('opentype');
  font-weight: 500;
}

@font-face {
  font-family: 'Noto Serif JP';
  src: url('@/assets/font/NotoSerifJP-Regular.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Noto Serif JP';
  src: url('@/assets/font/NotoSerifJP-SemiBold.otf') format('opentype');
  font-weight: 600;
}
